:root{
   --border: #d0d7de;
   --primary: #1074e7;
}

body {
    margin: 0;
    font-family:  'sans-serif','Tahoma';
    color:#656d76;
}
  
.grid-container {
    display: grid;
    grid-template-areas:
      'header'
      'content'
      'footer';
    grid-template-rows: auto 1fr auto; /* Define a altura específica para header e footer */
    min-height: 100vh;
}

.header {
    display: flex;
    height:60px;
    grid-area: header;
    background-color: #f6f8fa;
    
    text-align: center;
    font-size:14px;
    align-items: center;
}

.header div:nth-child(1){
  flex:1.5;
}
.header div:nth-child(2){
  flex :8;
}
.header div:nth-child(3){
  flex :1;
}

.header div i{
    font-size:16px;
    border:1px solid var(--border);
    border-radius:5px;
    cursor:pointer;
    margin-left:5px;
    padding: 7px; 
    padding-left:9px; 
    padding-right:9px; 
}

.header div i:hover{
    color:#1074e7;
}

.header div:nth-child(1){
    text-align: left;
    margin-left:15px;
}
.header div:nth-child(2){
    flex :2;
}

.nav-bar{
  display:flex;
  font-size:14px;
  background-color: #f6f8fa;
  padding:5px;
  border-bottom: 1px solid var(--border);
}

.icon-item{
  font-size:14px;
  display: flex;
  align-items: center;
  cursor:pointer;
}

.icon-item:first-child{
  margin-left:10px;
}

.icon-item:hover{
    background:#eaeef1;
    border-radius:5px;
}

.icon-item i {
    margin:5px;
    font-size:14px;
}

.icon-item span{
    margin:5px;
    padding-right:10px;
    margin-right:15px;
}

.icon-item-active{
    background:#e3e6e9;
    border-radius:5px;
    background: linear-gradient(to bottom, #eaeef1, #e3e6e9);
    box-shadow: inset 0 1px 12px rgba(0, 0, 0, 0.05);
}

.icon-item-active:active{
  background: linear-gradient(to bottom, #e3e6e9, #d8dbe0);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
    background-color: #f6f8fa;
    border-top:1px solid var(--border);
    padding: 15px;
    text-align: center;
    font-size:14px;
}


.nav-bar-list{
    font-size:14px;
    display:flex;
    align-items: center;
    justify-content: center;
    height:60px;
    border-bottom:1px solid var(--border);
}

.nav-bar-list div{
    padding:10px;
    padding-top:20px;
    padding-bottom:20px;
    border-bottom:2px solid white;
    margin:8px;
}

.nav-bar-list div:hover{
    color:black;
    cursor:pointer;
    border-bottom:2px solid var(--border);
}

.nav-bar-list-active {
  font-weight: bold;
  color:#1f2328;
  border-bottom:2px solid var(--primary) !important;
}



.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 250px;
}

.search-input {
  border: none;
  outline: none;
  padding: 8px;
  width: 150px;
  height:15px;
  border-radius: 5px 0 0 5px;
  flex:2;
}

.search-button {
  border:0px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  height: 32px;
}

.search-button i{
   color:#656d76;
   border:0 !important;
}
  
.path{
   font-size:11px;
   margin-left:10px;
}